<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="57x57" href="https://cdn.flyingant.me/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://cdn.flyingant.me/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://cdn.flyingant.me/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://cdn.flyingant.me/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://cdn.flyingant.me/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://cdn.flyingant.me/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://cdn.flyingant.me/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.flyingant.me/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.flyingant.me/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="https://cdn.flyingant.me/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.flyingant.me/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://cdn.flyingant.me/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.flyingant.me/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="https://cdn.flyingant.me/assets/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="https://cdn.flyingant.me/assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="w-full h-screen flex items-center justify-center">
  <div class="flex items-center justify-center">
    <img class="w-48" src="https://cdn.flyingant.me/files/mayi/logo/Normal%20480_480.svg" alt="logo"/>
    <div>
      <h1 class="font-sans subpixel-antialiased text-2xl text-center bg-black text-white px-2 py-1">
        MaYi Studio
      </h1>
      <small class="px-2">蚂蚁工作室</small>
    </div>
  </div>
</body>
</html>
